<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Project Node">
  <meta name="description" content="All My Project in Node JS">
  <title>Life & Journey | Confirmation</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/confirm.css">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/logos/logo-96x96.png">
  <meta name="theme-color" content="#ffd82c">
</head>
<body>
  <% if(confirm == 'delete'){ %>
    <div class="card">
      <h2>Confirmation for action</h2>
      <% if(typeof flash != 'undefined') { %>
        <div class="flash error">
          <p><%= flash.message %></p>
        </div>
      <% } %>
      <form action="/confirmation" method="POST">
        <input type="hidden" name="id" value="<%= id_data %>">
        <label>
          <i class="fas fa-key"></i>
          <input type="password" name="password" autocomplete="off" id="password" placeholder="Your Password" required>
        </label>
        <button type="submit">Confirm</button>
      </form>
    </div>
  <% } %>
</body>
</html>