<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Project Node">
  <meta name="description" content="All My Project in Node JS">
  <title>Welcome</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/welcome.css">
</head>
<body>

  <div class="sosmeds">
    <ul>
      <li>Contact Me: </li>
      <li><a href=""><i class="fab fa-facebook-square"></i> Facebook</a></li>
      <li><a href=""><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    </ul>
  </div>
  <div class="nav">
    <div class="container">
      <nav>
        <div class="left-nav">Kerelka</div>
        <div class="right-nav">
          <button class='btn btn-toggle-menu' id="btnToggle">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <div class="jumbotron-card">
        <h1>Hi, Welcome</h1>
        <p>To my personal website, thanks for visiting.</p>
      </div>
      <div class="image-jumbotron">
        <img src="images/imgs/draw1.svg" alt="">
      </div>
    </div>
  </div>

  <script src="js/welcome.js"></script>
</body>
</html>