<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Project Node">
  <meta name="description" content="All My Project in Node JS">
  <title>Life & Journey | Kerelka</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/welcome.css">
  <link rel="icon" type="image/png" sizes="96x96" href="images/logos/logo-96x96.png">
  <meta name="theme-color" content="#ffd82c">
</head>
<body>
  <div class="nav">
    <div class="container">
      <nav>
        <div class="left-nav">
          <img src="images/logos/logo-144x144.png" alt="Logo">
          <h1>ERELKA</h1>
        </div>
        <button class='btn btn-toggle-menu' id="btnToggle" aria-label="toggle menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="right-nav">
          <ul>
            <li><a href="/" class="active link">Home</a></li>
            <li><a href="/blogs" class='link'>Blogs</a></li>
            <li><a href="/projects" class='link'>Projects</a></li>
            <li><a href="/login" class='btn-login'>Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <h1 class="animate__animated animate__jackInTheBox"><span class="orange_border">Life</span> & Journey</h1>
      <p class="animate__animated animate__slideInRight">This website is dedicated as my experience and journey</p>
    </div>
  </div>

  <div class="about">
    <div class="container">
      <h1>a little bit about me</h1>
      <div class="content">
        <div class="content-desc">
          <p>My name is Kerel. I'm an IT programmer (Full Stack Web Developer).</p>
          <p>Work and Study with High Dicipline. Experience in Computer Programming, Problem Solve and Software Development.</p>
          <a href="#" download><i class="fas fa-file-download"></i> Resume</a>
        </div>
        <div class="image">
          <img src="images/imgs/programming.svg" alt="Programming">
        </div>
      </div>
      <h1>what i'm currently good at</h1>
      <div class="content">
        <div class="image">
          <img src="images/imgs/web-develop.svg" alt="web developer">
        </div>
        <div class="content-desc">
          <p>Web Development</p>
          <p>Fully understand on the flow of developing website.</p>
        </div>
      </div>
      <div class="content">
        <div class="content-desc">
          <p>Web Design</p>
          <p>Modern website design with fully responsive website.</p>
        </div>
        <div class="image">
          <img src="images/imgs/web-design.svg" alt="web design">
        </div>
      </div>
      <div class="content">
        <div class="image">
          <img src="images/imgs/troubleshoot.svg" alt="web developer">
        </div>
        <div class="content-desc">
          <p>Problem Solve</p>
          <p>Have the ability to solve computer problems.</p>
        </div>
      </div>
    </div>
  </div>

  <script src="js/welcome.js"></script>
</body>
</html>