*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #ffd82c;
}

#page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
}
/* sidenav css */
#side-nav{
  width: 300px;
  border-radius: 0 10px 10px 0;
  box-shadow: 10px 0 10px 0 rgba(240,240,240,.9);
  /* background: #ffd82c url(../images/imgs/side-nav.png) no-repeat;
  background-size: cover;
  background-position: center; */
}

.logo{
  background: #fff;
}
.logo a{
  color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  line-height: 32px;
  padding: 1em;
}

.logo img{
  width: 33px;
  line-height: 32px;
}
.nav li{
  line-height: 32px;
  color: rgb(65, 65, 65);
  width: 80%;
  margin: 10px auto;
  position: relative;
}

.nav a{
  display: inline-block;
  width: 100%;
  font-size: .9em;
  font-weight: 600;
  line-height: 32px;
  padding-left: 20px;
  color: #030303;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(240,240,240,.9);
}

.nav a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  opacity: 0;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
  background: #ffd82c;
  transition: .8s;
}

.nav a:hover:before, .nav a.active:before{
  width: 100%;
  opacity: 1;
}

.nav a i{
  width: 40px;
}

.right-column{
  width: 100%;
}

.right-column .container{
  width: 100%;
  height: 100%;
}

/* css for top-nav */
.top-nav{
  width: 100%;
  font-size: .9em;
  padding: 1em;
  line-height: 32px;
  background: #fff;
  box-shadow: 0px 10px 10px 0 rgba(240,240,240,.9);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.notification{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  color: rgba(200,200,200, 1);
  padding-right: 2em;
  border-right: 2px solid rgba(150,150,150,.5);
}

.notification i{
  font-size: 1.2em;
}

.notif, .message{
  position: relative;
  cursor: pointer;
}

.notif:hover, .message:hover{
  color: #030303;
}

.notification .badge{
  display: inline-block;
  background: #ffd82c;
  color: #030303;
  line-height: 16px;
  padding: 3px;
  position: absolute;
  top: -5px;
  right: -10px;
  border-radius: 20%;
}

.thumb{
  background: #fff;
  border: 10px solid rgba(230,230,230,1);
  box-shadow: 0 10px 10px 0 rgba(230,230,230,.9);
  border-radius: 10px;
  position: absolute;
  min-width: 250px;
  min-height: 50px;
  left: -240px;
  top: 15px;
  display: none;
}

.thumb a{
  display: inline-block;
  line-height: 18px;
  padding: .5em;
  width: 100%;
  text-align: center;
}

.thumb li:nth-child(odd){
  background: rgba(230,230,230,.8);
}

.thumb a .bold{
  font-weight: bold;
}

.thumb a .second{
  font-style: italic;
  color: rgba(150,150,150,1);
}


.thumb li:nth-child(odd){
  background: rgba(250,250,250,.8);
}

.style-dot, .style-dot::before, .style-dot::after{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffd82c;
  position: absolute;
  left: 10px;
  top: -9px
}

.style-dot::before{
  content: '';
  left: -10px;
  top: 0;
}

.style-dot::after{
  content: '';
  right: 10px;
  top: 0;
}

.notif:hover>.thumb, .message:hover>.thumb{
  display: block;
}

.useremail{
  padding-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.useremail p{
  color: rgba(100,100,100,.8);
}

.img-user{
  background: #ffd82c;
  color: #030303;
  border-radius: 50%;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

/* css content */
#dashboard{
  padding: 1em;
}

.pages{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

#dashboard .card{
  min-width: 150px;
  padding: 1em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(230,230,230,.9);
  margin-right: 1em;
}

.card h3{
  padding-left: 10px;
  margin-bottom: 1em;
  border-left: 5px solid #ffd82c;
}

.card p{
  font-weight: 600;
}


/* css for activities */

.activities{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 1em;
}

.post{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(230,230,230,.9);
}

.post>p{
  background: #ffd82c;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  font-weight: 600;
}

.post li{
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.post li:nth-child(odd){
  background: rgba(240,240,240,.2);
}

.post li .author{
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author p{
  color: rgba(130,130,130);
}

.info{
  padding: 0 1em;
  width: 100%;
}

.info .post-title{
  font-weight: 600;
  padding-bottom: 5px;
}

.info .post-desc{
  font-size: .9em;
  padding-bottom: 5px;
}

.info .date{
  font-size: .7em;
  padding: 5px 0;
  color: rgba(150,150,150);
  border-top: 2px solid rgb(200,200,200);
}

.action{
  padding: 0 1em;
}

.action select{
  padding: 10px;
  line-height: 32px;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: 0 5px 5px 0 rgba(230,230,230,.9);
  border-radius: 10px;
}

.action select option{
  border: none;
}

.last-activities{
  width: 30%
}
