*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  overflow-X: hidden;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #ffd82c;
}

#page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
/* sidenav css */
#side-nav{
  width: 300px;
  border-radius: 0 10px 10px 0;
  box-shadow: 10px 0 10px 0 rgba(240,240,240,.9);
  /* background: #ffd82c url(../images/imgs/side-nav.png) no-repeat;
  background-size: cover;
  background-position: center; */
  position: fixed;
  background: #fff;
  height: 100vh;
  z-index: 999;
}

.logo{
  background: #fff;
}
.logo a{
  color: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  line-height: 32px;
  padding: 1em;
}

.logo img{
  width: 33px;
  line-height: 32px;
}
.nav li{
  line-height: 32px;
  color: rgb(65, 65, 65);
  width: 80%;
  margin: 10px auto;
  position: relative;
}

.nav a{
  display: inline-block;
  width: 100%;
  font-size: .9em;
  font-weight: 600;
  line-height: 32px;
  padding-left: 20px;
  color: #030303;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(240,240,240,.9);
}

.nav a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  opacity: 0;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
  background: #ffd82c;
  transition: .8s;
}

.nav a:hover:before, .nav a.active:before{
  width: 100%;
  opacity: 1;
}

.nav a i{
  width: 40px;
}

.right-column{
  width: 100%;
  position: relative;
  left: 300px;
}

.right-column .container{
  width: 100%;
  height: 100%;
}

/* css for top-nav */
.top-nav{
  width: 100%;
  font-size: .9em;
  padding: 1em;
  line-height: 32px;
  background: #fff;
  box-shadow: 0px 10px 10px 0 rgba(240,240,240,.9);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 0;
  z-index: 998;
}

.notification{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  color: rgba(200,200,200, 1);
  padding-right: 2em;
  border-right: 2px solid rgba(150,150,150,.5);
}

.notification i{
  font-size: 1.2em;
}

.notif, .message{
  position: relative;
  cursor: pointer;
}

.notif:hover, .message:hover{
  color: #030303;
}

.notification .badge{
  display: inline-block;
  background: #ffd82c;
  color: #030303;
  line-height: 16px;
  padding: 3px;
  position: absolute;
  top: -5px;
  right: -10px;
  border-radius: 20%;
}

.thumb{
  background: #fff;
  border: 10px solid rgba(230,230,230,1);
  box-shadow: 0 10px 10px 0 rgba(230,230,230,.9);
  border-radius: 10px;
  position: absolute;
  min-width: 250px;
  min-height: 50px;
  left: -240px;
  top: 15px;
  display: none;
}

.thumb a{
  display: inline-block;
  line-height: 18px;
  padding: .5em;
  width: 100%;
  text-align: center;
}

.thumb li:nth-child(odd){
  background: rgba(230,230,230,.8);
}

.thumb a .bold{
  font-weight: bold;
}

.thumb a .second{
  font-style: italic;
  color: rgba(150,150,150,1);
}


.thumb li:nth-child(odd){
  background: rgba(250,250,250,.8);
}

.style-dot, .style-dot::before, .style-dot::after{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffd82c;
  position: absolute;
  left: 10px;
  top: -9px
}

.style-dot::before{
  content: '';
  left: -10px;
  top: 0;
}

.style-dot::after{
  content: '';
  right: 10px;
  top: 0;
}

.notif:hover>.thumb, .message:hover>.thumb{
  display: block;
}

.useremail{
  padding-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.useremail p{
  color: rgba(100,100,100,.8);
}

.img-user{
  background: #ffd82c;
  color: #030303;
  border-radius: 50%;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

/* css content */
.content{
  padding: 1em;
  position: relative;
  top: 70px;
}

.pages{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.content .card{
  min-width: 150px;
  padding: 1em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(230,230,230,.9);
  margin-right: 1em;
  margin-bottom: 1em;
}

.card h3{
  padding-left: 10px;
  margin-bottom: 1em;
  border-left: 5px solid #ffd82c;
}

.card p{
  font-weight: 600;
}


/* css for activities */

.activities{
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  gap: 1em;
}

.post{
  background: #fff;
  max-width: 60%;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(230,230,230,.9);
}

.post>p{
  background: #ffd82c;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  font-weight: 600;
}

.post li{
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.post li:nth-child(odd){
  background: rgba(240,240,240,.2);
}

.post li .author{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author p{
  color: rgba(130,130,130);
  font-size: .9em;
}

.info{
  padding: 0 1em;
  width: 100%;
}

.info .post-title{
  font-weight: 600;
  padding-bottom: 5px;
}

.info .post-desc{
  font-size: .9em;
  padding-bottom: 5px;
}

.info .date{
  font-size: .7em;
  padding: 5px 0;
  color: rgba(150,150,150);
  border-top: 2px solid rgb(200,200,200);
}

.action{
  padding: 0 1em;
}

.action p{
  padding: 5px 20px;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: 0 5px 5px 0 rgba(230,230,230,.9);
  border-radius: 10px;
}

.action select option{
  border: none;
}

.popular-post{
  background: #fff;
  box-shadow: 0 10px 10px 0 rgba(230,230,230,.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1em 1em;
}

.popular-post>p{
  font-weight: 600;
  padding: 10px;
  text-align: center;
  border-bottom: 5px solid #ffd82c;
  margin-bottom: 1em;
}

.popular-post ul{
  font-weight: 600;
}

.popular-post ul .popular-post li{
  width: 100%;
}

.popular-post li{
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
  box-shadow: 0 10px 10px 0 rgba(230,230,230,.9);
}

.popular-post li .no{
  display: inline-block;
  background: #fff;
  padding: 10px;
}

.popular-post li p:nth-child(2){
  background: #ffd82c;
  padding: 10px;
  width: 100%;
  border-radius: 0 10px 10px 0;
}


/* new post css */
#newpost, #editpost{
  width: 100%;
}

#newpost .container, #listpost .container, #editpost .container{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(230,230,230,.9);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#newpost h2, #listpost h2, #editpost h2{
  border-bottom: 5px solid #ffd82c;
}

#newpost form, #editpost form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
}

#newpost .form-group, #editpost .form-group{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2em;
}

#newpost label, #editpost label{
  width: 150px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 1em;
}

#newpost label>span, #editpost label>span{
  color: rgba(100,100,100,.8);
  font-size: .8em;
}

#newpost input, #newpost textarea,#editpost input, #editpost textarea{
  width: 700px;
  line-height: 32px;
  font-size: 1em;
  padding-left: .5em;
  transition: .25s;
}

#newpost input, #editpost input{
  border: none;
  background: #fff;
  border-bottom: 2px solid #ffd82c;
  outline: none;
}

.btn{
  border: none;
  padding: .8em 2em;
  font-size: 1em;
  border-radius: 10px;
}

.btn-submit{
  background: rgb(100, 201, 139);
  color: #fff;
  cursor: pointer;
  transition: .5s;
  outline: none;
}

.btn-submit:hover{
  background: rgb(84, 163, 114);
}


/* listpost css */

.datas{
  margin-top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.datas .form-group{
  border-bottom: 2px solid #ffd82c;
}

.datas input{
  background: #fff;
  border: none;
  outline: none;
  line-height: 32px;
  font-size: 1em;
  padding-left: 5px;
}

.datas .btn-search{
  padding: 0 5px;
  line-height: 32px;
  background: none;
  cursor: pointer;
}

.datas>form{
  margin-bottom: 1em;
}

.datas .list-data{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1em;
}

.datas .card{
  width: 500px;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datas .card .images{
  height: 134px;
  width: 200px;
  overflow: hidden;
}

.datas .card .images img{
  width: 150px;
}

.info{
  position: relative;
}

.info>p{
  font-size: .8em;
  font-weight: 400;
}

.info-detail{
  margin-top: .5em;
  width: 100%;
  overflow: hidden;
}

.info-detail>p{
  font-size: .9em;
  font-weight: 400;
  width: 100%;
}

.info-detail .info-title{
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 4px;
}

.info-detail form{
  margin-top: .5em;
}

.info-detail form select{
  padding: 5px;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 10px 10px 0 rgba(230,230,230,.8);
  transition: .25s;
}

.info-detail form select>option{
  background: #fff;
}

.info-detail form select:hover{
  background: #ffd82c;
}

.btn-view, .btn-edit{
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-bottom: 1px solid #ffd82c;
  color: #2c7c8b;
}

.btn-edit{
  right: 100px;
}



/* end of listpost css */
/* alert utilities */
.alert{
  margin-top: 1em;
  padding: 1em;
}

.alert p{
  font-size: .9em;
}

.alert .bold{
  font-weight: bold;
  margin-right: 10px;
  font-size: 1em;
}

.alert-success{
  background: #9af39a;
  color: #1b815f;
}

.alert-danger{
  background: #f39a9a;
  color: #ac1b1b;
}

.alert-info{
  background: #6cadf7;
  color: #195292;
}