*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.sosmeds{
  position: absolute;
  left: 70px;
  top: 40%;
}

.sosmeds li:nth-child(1){
  margin-bottom: 10px;
  font-weight: bold;
}

.sosmeds a{
  display: inline-block;
  padding: 5px 0;
  color: #508484;
}

.sosmeds a:hover{
  color: #395f5f;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0 0;
}

.nav>.container{
  background: #fff;
  width: 100%;
}

.nav nav{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav{
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing:1px;
  color: #508484;
}

.btn{
  display: none;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  height: 40px;
  cursor: pointer;
}

.btn-toggle-menu span{
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  transition: .25s;
}

.btn-toggle-menu.active span:nth-child(1){
  transform: rotateZ(40deg) translateY(10px);
}
.btn-toggle-menu.active span:nth-child(2){
  opacity: 0;
}

.btn-toggle-menu.active span:nth-child(3){
  transform: rotateZ(-40deg) translateY(-10px);
}


.right-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-nav a{
  display: inline-block;
  padding: 1rem;
  font-size: 1.2em;
  color: #000;
}

.right-nav a.active{
  font-weight: bold;
}

.right-nav a:hover{
  background: rgba(230,230,230,.7)
}

.jumbotron{
  width: 100%;
  height: 500px;
  background-image: url('../images/imgs/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron .container{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.jumbotron-card{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-left: 2em;
}

.jumbotron-card h1{
  font-size: 3em;
}

.jumbotron-card p{
  font-style: italic;
}
.image-jumbotron{
  width: 60%;
}

.image-jumbotron img{
  width: 100%;
}


@media (max-width: 768px){
  .jumbotron .container{
    width: 90%;
  }

  .sosmeds{
    display: none;
  }

  .jumbotron-card h1{
    font-size: 2em;
  }

  .nav nav{
    width: 90%;
  }
}

@media (max-width: 620px){
  .nav{
    position: relative;
  }
  .nav .right-nav{
    background: red;
  }
  .nav .right-nav ul{
    position: absolute;
    right: -100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-top: 1.5em;
    background: #fff;
    transition: .25s;
  }

  .nav .right-nav ul.active{
    right: 0;
  }

  .nav .right-nav li{
    width: 100%;
  }

  .nav .right-nav a{
    width: 100%;
  }

  .image-jumbotron{
    display: none;
  }

  .jumbotron-card{
    width: 100%;
  }

  .jumbotron-card h1{
    text-align: center;
    font-size: 2.5em;
  }

  .jumbotron-card p{
    text-align: center;
    font-size: 1.2em;
  }

  .left-nav{
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
  }

  .btn{
    display: inline-block;
    position: absolute;
    right: 5%;
    bottom: 1.5em;
  }
}