*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.nav{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(230,230,230,.7);
}

.nav>.container{
  background: #fff;
  width: 100%;
}

.nav nav{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav{
  font-size: 1em;
  line-height: 32px;
  padding: .5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing:1px;
  color: #000;
}

.btn{
  display: none;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  height: 40px;
  cursor: pointer;
}

.btn-toggle-menu span{
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  transition: .25s;
}

.btn-toggle-menu.active span:nth-child(1){
  transform: rotateZ(40deg) translateY(10px);
}
.btn-toggle-menu.active span:nth-child(2){
  opacity: 0;
}

.btn-toggle-menu.active span:nth-child(3){
  transform: rotateZ(-40deg) translateY(-10px);
}


.right-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.right-nav a{
  display: inline-block;
  line-height: 32px;
  padding: .5em;
  font-size: 1em;
  font-weight: 600;
  color: #030303;
  border: 2px solid transparent;
  transition: .5s;
}

.right-nav .link.active{
  border-bottom: 3px solid #030303;
}

.right-nav .link:hover{
  border-bottom: 3px solid #030303;
}

.btn-login{
  background: #ffd82c;
  padding: 0 2em!important;
  border-radius: 10px;
  margin-left: 2em;
}

@media (max-width: 670px){
  .nav nav{
    position: relative;
  }

  .right-nav .btn{
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 5%;
  }

  
  .right-nav ul.active{
    top: 50px;
  }

  .right-nav ul{
    position: absolute;
    right: 0;
    left: 0;
    top: -400px;
    display: flex;
    background: #fff;
    flex-direction: column;
    box-shadow: 0 0 10px 0px rgba(230,230,230,.7);
  }

  .btn-login{
    margin-left: 0;
    margin-bottom: 1em;
  }

}