*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #ffd82c;
}
/* navbar css */
.nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(230,230,230,.7);
}

.nav>.container{
  background: #fff;
  width: 100%;
}

.nav nav{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav{
  font-size: 1em;
  line-height: 32px;
  padding: .5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing:1px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-nav img{
  height: 2em;
}

.btn{
  display: none;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  height: 40px;
  cursor: pointer;
}

.btn-toggle-menu span{
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  transition: .25s;
}

.btn-toggle-menu.active span:nth-child(1){
  transform: rotateZ(40deg) translateY(10px);
}
.btn-toggle-menu.active span:nth-child(2){
  opacity: 0;
}

.btn-toggle-menu.active span:nth-child(3){
  transform: rotateZ(-40deg) translateY(-10px);
}

.right-nav{
  transition: .5s;
}

.right-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.right-nav a{
  display: inline-block;
  line-height: 32px;
  padding: .5em;
  font-size: 1em;
  font-weight: 600;
  color: #030303;
  border: 2px solid transparent;
}

.right-nav .link.active{
  border-bottom: 3px solid #030303;
}

.right-nav .link:hover{
  border-bottom: 3px solid #030303;
}

.btn-login{

  background: #ffd82c;
  padding: 0 2em!important;
  border-radius: 10px;
  margin-left: 2em;
}

/* end of navbar css */
/* jumbotron css */
.jumbotron{
  height: 100vh;
  width: 100%;
  background-image: url('../images/imgs/jumbotron-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .container{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron .container h1{
  font-family: "Oleo Script", cursive;
  font-size: 7.5em;
}

.jumbotron .container p{
  font-size: 1.5em;
  padding: 5px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 600;
}

.orange_border{
  border-bottom: 50px solid #ffd82c;
  border-radius: 0 0 0 40px;
}

/* end of jumbotron css */

/* about css */
.about{
  background-image: url('../images/imgs/about-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 2em;
}

.about .container{
  width: 70%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1{
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

.about .content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-desc{
  width: 50%;
  box-shadow: 0px 10px 20px 0 rgba(230,230,230);
  padding: 2em;
  border-radius: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  transition: .5s;
}

.content-desc:hover{
  transform: translateY(-25px);
}

.content-desc p{
  line-height: 32px;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.content-desc p:nth-child(1){
  font-weight: 600;
}

.content-desc a{
  background: #ffd82c;
  color: #000;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 20px;
}

.content-desc a:hover{
  box-shadow: 0px 5px 10px 0 rgba(230,230,230);
}
.content .image{
  width: 50%;
  text-align: center;
}

.image img{
  width: 90%;
}


/* end of about css */


@media (max-width: 970px){
  .jumbotron .container h1{
    font-size: 5em;
  }

  .jumbotron .container p{
    font-size: 1em;
  }
  .orange_border{
    border-bottom: 30px solid #ffd82c;
  }

}

@media (max-width: 670px){
  .nav nav{
    position: relative;
  }

  nav .btn{
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 0;
  }

  .left-nav{
    width: 100%;
  }
  .right-nav.active{
    top: 50px;
  }

  .right-nav{
    position: absolute;
    right: 0;
    left: 0;
    top: -400px;
  }
  .right-nav ul{
    display: flex;
    background: #fff;
    flex-direction: column;
    box-shadow: 0 0 10px 0px rgba(230,230,230,.7);
  }

  .btn-login{
    margin-left: 0;
    margin-bottom: 1em;
  }
  
  .jumbotron .container h1{
    font-size: 3.5em;
  }

  .jumbotron .container p{
    font-size: .7em;
    padding-left: 2em;
  }
}

@media (max-width: 470px){
  .jumbotron{
    background-image: url('../images/imgs/smartphone-background.png');
  }
}
@media (max-width: 400px){
  .jumbotron .container h1{
    font-size: 2.7em;
  }
}