<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Project Node">
  <meta name="description" content="All My Project in Node JS">
  <title>Page Not Found</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/error404.css">
</head>
<body>
  <div id="main">
    <img src="images/errors/page_not_found.svg" alt="Image not Found">
    <h1>Sorry ... page not found.</h1>
    <a href="/" class="btn btn-link">Home</a>
  </div>
</body>
</html>